

.cats ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5rem;
  list-style: none;
  justify-content: center;

}
img {
  width: 17vw;
  height: 32vh;
  border-radius: 50%;
  opacity: 1;
}
li {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.active-cat {
  opacity: 1;
}
.cat-info {
  font-size: 1.3vw;
  font-weight: bold;
  color: #9c27b0;
}
.not-active {
  opacity: 0.5;
}
button {
  width: 30%;
  height: 4vh;
  border: none;
  border-radius: 15%;
  background-color: rgb(52, 172, 241);
  color: white;
  font-weight: bold;
  font-size: 1vw;
  margin: 30px 10px auto auto;
}

button:hover {
  background-color: rgb(250, 86, 114);
}
@media (max-width: 767px) {
  img {
    width: 50vw;
    height: 32vh;
  }
  .cats ul {
    row-gap: 6vh;
  }
  button {
    width: 25%;
    height: 3vh;
    font-size: 2.5vw;
  }
  .cat-info {
    font-size: 3.5vw;
  }
  .nav-link{
    font-size: 5.7vw;
   
  }
  .cat-title {
    font-size: 5.7vw;
  }
  
  
}
.nav-link{
  font-size: 1.5vw;
  color: rgb(103, 152, 29);
  font-weight: bold;
  text-decoration: none;
}
.active{
  font-size: 1.5vw;
  color: rgb(237, 4, 187);
  font-weight: bold;
  text-decoration: none;
}
